* {
    margin: 0;
    padding: 0;
}

:root {
	--color-gt-last-column-buttons: #0ec6ff;
	--dark-yellow: #dfd15e;
	--color-first-row-buttons: #f0f0a8;
	--color-ac-button: #ce5050;
	--color-values-buttons: #121d4a;
	--color-symbols-delete-buttons: #405ea6;
	--color-c-delete-symbols-buttons: #d1e2e8;
	--color-controls: #d8f5c4;
	--color-dropdown-active-li: #96e186;
	--color-popup:#f7d4a6;
	--color-body-background: #bfccd0;
	--color-body-font-color: black;
	--color-calculator-bg: #f2eede;
	--color-calculator-border: #8bbf8b;
	--color-first-row-buttons-font: #487cce;
	--color-input-bg: #ccdfcc;
	--color-equation-placeholder-bg: #d9fbc2;
	--color-caret-down: black;
	--color-key-mapping-submit-buttons: #f5e5a7;
	--color-hover-key-mapping-submit: #ecdc7c;
	--color-dropdown-li-bg: #dddddd;
	--color-hover-dropdown-li-bg: #eeeeee;
	--gap-main-buttons: 14px;
}

.dark-mode {
	--color-gt-last-column-buttons: #13483e;
	--color-first-row-buttons: #a9bae3;
	--color-ac-button: #ce5050;
	--color-values-buttons: #121d4a;
	--color-symbols-delete-buttons: #405ea6;
	--color-c-delete-symbols-buttons: #d1e2e8;
	--color-controls: var(--color-calculator-bg);
	--color-dropdown-active-li: var(--color-key-mapping-submit-buttons);
	--color-popup: #25262bf5;
	--color-body-background: #171717;
	--color-body-font-color: white;
	--color-calculator-bg: #25262b;
	--color-calculator-border: #82cac33d;
	--color-first-row-buttons-font: #0b0e13;
	--color-input-bg: #aabdaa;
	--color-equation-placeholder-bg: #c4d0bb;
	--color-caret-down: white;
	--color-key-mapping-submit-buttons: #14594c;
	--color-hover-key-mapping-submit: #0e7561;
	--color-dropdown-li-bg: var(--color-calculator-bg);
	--color-hover-dropdown-li-bg: #373942;
}

body {
	background-color: var(--color-body-background);
	color: var(--color-body-font-color);
	font-family: Noto Serif, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 15px 50px;
	text-align: center;
}
main {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items:center;
	justify-content: center;
	margin-bottom: 71px;
	padding-bottom: 13px;
	overflow-x: hidden;
}

#controls {
	display: flex;
	gap: 32px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin: 0 auto 30px auto;
	padding: 15px 30px;
	background-color: var(--color-controls);
	border-radius: 50px;
	max-width: fit-content;
	z-index: 2;
}

.toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	cursor: pointer;
	--width-toggle: 40px;
	--height-toggle: calc(var(--width-toggle) / 2);
	--border-radius-toggle: calc(var(--height-toggle) / 2);
}

.toggle-input {
	display: none;
}

.toggle-fill {
	position: relative;
	width: var(--width-toggle);
	height: var(--height-toggle);
	border-radius: var(--border-radius-toggle);
	background: #dddddd;
	transition: background 0.2s;
}

.toggle-input:checked + .toggle-fill {	/*+ only next sibling; ~ all next siblings*/
	background: #009578;
}

#first-row .toggle-input:checked + .toggle-fill { background: var(--color-values-buttons); }

.toggle-fill::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: var(--height-toggle);
	width: var(--height-toggle);
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	border-radius: var(--border-radius-toggle);
	transition: transform 0.2s;
}

.toggle-input:checked + .toggle-fill::after {
	transform: translateX(var(--height-toggle));
}

#controls button, #submit-new-keymapping, #restart-keymapping {
	background-color: var(--color-key-mapping-submit-buttons);
	color: var(--color-body-font-color);
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#controls button:hover, #submit-new-keymapping:hover, #restart-keymapping:hover {
	background-color: var(--color-hover-key-mapping-submit);
}

.caret-down {
	display: inline-block;
	border-top: 7px solid var(--color-caret-down);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-left: 4px;
}

.dropdown {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	--dropdown-height: 20px;
	height: var(--dropdown-height);
}


.dropdown ul {
	list-style: none;
	display: none;
	position: absolute;
	padding-top: calc(var(--dropdown-height) + 5px);
	z-index: 1;
}

.dropdown ul > li {
	display: flex;
	text-align: center;
	background-color: var(--color-dropdown-li-bg);
}

.dropdown ul > li > label {
	min-width: 79px;
	padding: 4px 10.5px;
	border: 1px solid black;
	cursor: pointer;
}


.dropdown ul > li:hover {
	background-color: var(--color-hover-dropdown-li-bg);
}

.dropdown ul > li.active-li {
	background: var(--color-dropdown-active-li);
}

.dropdown ul > li input {
	display: none;
}

.dropdown:hover ul, .dropdown:active ul {
	display: flex;
	flex-direction: column;
}

#container-decimals-dropdown {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#container-decimals-dropdown .dropdown {
	width: 100%;
}

#container-decimals-dropdown .dropdown ul > li > label {
	min-width: 125px;
}

/*menu-lines and menu-header*/
#menu-header {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
}


.menu-lines {   /*aka hamburger menu*/
  --bar-width: 20px;
  --bar-height: 3px;
  --lines-gap: 3px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: var(--lines-gap);
  width: max-content;
  cursor: pointer;
  border-radius: 4px;
}


.menu-lines:hover {
  background-color: var(--color-calculator-bg);
}

.menu-lines::before,
.menu-lines::after,
.menu-lines input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--color-body-font-color);
  border-radius: 20px;
}

.menu-lines input {
  appearance: none;
  outline: none;
  pointer-events: none;
}


/*popup*/
#change-keymap-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);          /*scale(0) make it invisible*/
    transition: 200ms ease-in-out;                      /*makes an animation when appears*/
    border: 1px solid black;
    border-radius: 3%;
    z-index: 10;
    background: var(--color-popup);
	color: var(--color-body-font-color);
    width: 500px;
    max-width: 80%;
	max-height: 92%;
	overflow: auto;
	backdrop-filter: blur(4px);
}

#change-keymap-popup.active {
    transform: translate(-50%, -50%) scale(1);          /*with scale 1 make it visible*/
}

#popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
	color: var(--color-body-font-color);
}

.close-button:hover {
	background: rgba(149, 149, 149, 0.05);
}

#change-keymap-form-container {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 6px;
}

#change-keymap-form-container label {
    font-size: 18px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}


#change-keymap-form-container label:hover {
	background-color:#ececdf4a;
}

#change-keymap-form-container input {
    width: 100px;
	text-align: center;
	border-radius: 3px;
	background-color: #f7f3e2;
	border: 1px solid black;
}

#submit-new-keymapping, #restart-keymapping {
    margin-top: 15px;
    align-self: center;
}

#change-keymap-overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;          /*if is none, it will let press buttons behind when not active*/
}

#change-keymap-overlay.active {
    opacity: 1;
    pointer-events: all;
	z-index: 2;
}


#calculator {
    width: 840px;
    border-radius: 45px;
	border: 3px solid var(--color-calculator-border);
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	color: black;
}

#calculator, #history {
	background-color: var(--color-calculator-bg);
    box-shadow: 5px 5px 8px black;
}

button, #first-row label.toggle {
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	border-radius: 20px;
	cursor: pointer;
}

#calculator button, #first-row label.toggle {
	border: none;
	box-shadow: 0px 0px 1px var(--color-body-font-color) inset;
}

#display {
	height: 140px;	/*was 90px*/
	display: grid;
	grid-template-rows: 0.5fr 1fr;
	font-family: 'Aldrich', droid sans, sans-serif;
	overflow: auto;
	min-width: 100%;
}

.screen {
	overflow-x: auto;
	overflow-y: hidden;
}

#equation-placeholder {
	background-color:var(--color-equation-placeholder-bg);
	font-size: 33px;
	border-radius: 18px 18px 0px 0px;
	padding: 4px 8px;
}

#input {
	font-size: 57px;
	background-color: var(--color-input-bg);
	border-radius: 0px 0px 18px 18px;
	padding: 13px 8px;
	text-align: right;
}

#first-row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

#first-row button, #first-row > label.toggle { 
	background-color: var(--color-first-row-buttons);
	color:var(--color-first-row-buttons-font);
	padding: 7px;
}

#first-row label.toggle { padding: 4px; }


#main-buttons-container {
	display: flex;
	/*gap: 56px;*/	/*this is the old gap, if needed just uncomment it*/
	justify-content: space-evenly;
}

#main-buttons-container button {
	min-width: 84px;
	min-height: 64px;
}

.container:nth-of-type(2) {
	display: flex;
}

#first-column {
	display: grid;
	gap: var(--gap-main-buttons);
}

#first-column button {
	padding: 10px 0px;
	font-size: 24px;
}

#btn-gt {
	background-color: var(--color-gt-last-column-buttons);
	color: white;
}

#btn-delete, #btn-c { background-color: var(--color-c-delete-symbols-buttons); }

#btn-delete { 
	color: var(--color-symbols-delete-buttons);
	max-width: 64px;
}

#btn-delete img { 
	max-width: inherit;
	display: block;
	margin: auto;
	width: 100%;
}

#btn-c { color: black; }

#btn-ac {
	background-color: var(--color-ac-button);
	color: white;
}

#values {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "seven  eight     nine"
        "four   five      six"
        "one    two       three"
        "zero   zero-two  decimal"
		"zero-three	zero-three none"
        ;
	gap: var(--gap-main-buttons);
	width: 280px;
	position: relative;
	left: 43px;
	z-index: 1;
}

#values button {
	font-size: 30px;
	background-color: var(--color-values-buttons);
	color: white;
}

.zero-three {
	grid-area: zero-three;
}

#symbols {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "none times division"
        "none sum   sub"
        "none sum   sub"
        "none sum   sub"
		"equal equal equal"
        ;
	gap: var(--gap-main-buttons);
	width: 280px;
	position: relative;
	right: 42px;
}

.equal { 
	grid-area: equal; 
	z-index: 1;
}
.times { 
	grid-area: times; 
	height: 64px;
}
.division { 
	grid-area: division; 
	height: 64px;
}
.sub { grid-area: sub; }
.sum { grid-area: sum; }

#symbols button {
	background-color: var(--color-c-delete-symbols-buttons);
	color:var(--color-symbols-delete-buttons);
	font-size: 30px;
}

#last-column {
	display: grid;
	gap: var(--gap-main-buttons);
}


#last-column button {
	background-color: var(--color-gt-last-column-buttons);
	color: white;
	font-size: 29px;
}


#history {
	border: 4px solid var(--color-calculator-border);
	border-radius: 20px;
	min-width: 380px;
	height: 545px;
	flex-direction: column;
	display: none;
}

#history.active-history {
	display: flex;
}

#history h2 { 
	text-align: center;
	margin-top: 5px;
}

#history-values {
	text-align: right;
	padding: 10px 22px 15px 22px;
	overflow: auto;
	height: 445px;
	font-size: 23px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	overflow-x: hidden;
}

.history-value {
	display: grid;
	border: 2px solid var(--color-calculator-border);
	border-radius: 10px;
	padding: 10px 10px 5px 10px;
	position: relative;
	animation: right-to-left-landscape 600ms;
}

.history-value-check {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.history-value-check, #history-check-all {
	accent-color: #14594c;
}

.values-container {
	display: flex;
	flex-direction: column;
	overflow-wrap: anywhere;
}

.values-container > label:last-child {
	border-top: 1px dashed var(--color-body-font-color);
	padding-top: 5px;
}

#history-controls {
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
	align-items: center;
	font-size: 15px;
	padding: 10px 7px;
}

#history-controls > label {
	display: flex;
	gap: 5px;
	align-items: flex-start;
	cursor: pointer;
}

#history-controls > label, .control-icon-container {
	cursor: pointer;
}

#history-controls img {
	max-height: 20px;
}

.copy-history {
	font-size: 10px;
}

.control-icon-container {
	display: flex;
	align-items: center;
	gap: 5px;
}

.notification-container {
	height: 120px;
	width: 280px;
	background-color: #14594ce3;
	backdrop-filter: blur(4px);
	border-radius: 10px;
	position: fixed;
	right: 20px;
	bottom: 40px;
	display: none;
	z-index: 10;
	animation: right-to-left-landscape 1s;
	display: grid;
	grid-template-rows: 0.1fr 1fr;
}

.notification-header {
	text-align: right;
	padding: 6px 6px 0px 0px;
}

.notification-container > p {
	padding: 2.5px 10px 5px 10px;
}

/*.notification-container.active {
	display: block;
	animation: right-to-left-landscape 1s;
}*/

.fade-out {
	animation: fade-out 1s forwards;
}

footer {
	background-color: var(--color-controls);
	margin-top: auto;
	padding: 15px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes right-to-left-landscape {
	0% {
		transform: translateX(40vw);
	}
	90% {
		transform: translateX(-1vw);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes right-to-left-portrait {
	0% {
		transform: translateX(95vw);
	}
	90% {
		transform: translateX(-1vw);
	}
	100% {
		transform: translateX(0);
	}
}

@media(min-width: 1366px) {
	#history.active-history {
		animation: right-to-left-landscape 1.5s;
	}
}

@media(max-width: 1365px) {
	main {
		flex-direction: column;
	}

	#history.active-history {
		animation: right-to-left-portrait 1.5s;
	}

}

@media(max-width: 1080px) {
	#controls {
		font-size: 17px;
		gap: 21px;
	}

	#container-decimals-dropdown .dropdown ul > li > label { min-width: 110px; }
	#language-container ul > li > label { min-width: 69px; }
}

@media(max-width: 945px) {
	#controls {
		font-size: 15px;
		gap: 15px;
	}
	.dropdown { --dropdown-height: 16px; }


	#container-decimals-dropdown .dropdown ul > li > label { min-width: 90px; }
	#language-container ul > li > label { min-width: 57px; }

	#calculator { width: 780px; }
}

@media(max-width: 850px) {
	#controls {
		font-size: 13.5px;
		gap: 10px;
	}
	
	button, #first-row label.toggle {
		font-size: 15px;
	}
	#controls button {
		padding: 7px;
	}


	#container-decimals-dropdown .dropdown ul > li > label { min-width: 82px; }
	#language-container ul > li > label { min-width: 51px; }

	.dropdown { --dropdown-height: 13px }

	#calculator {
		width: 610px;
	}


	#calculator button {
		padding: 5px; 
		font-size: 15px;

	}

	#equation-placeholder {
	font-size: 28px;
}
	#input {
		font-size: 45px;
		padding: 10px 8px;
	}
	#display { height: 110px; }

	#main-buttons-container {
		gap: 14px;
	}

	#main-buttons-container button{
		min-height: 56px;
		min-width: 62px;
		font-size: 24px;
		/*height: 54px;
		width: 64px;*/
	}
	:root {--gap-main-buttons: 10px;}

	#btn-delete { max-width: 48px } 

	.container:nth-of-type(2) { max-width: 398px; }

	#symbols {
		width: 209px;
		right: 8px;
		height: 324px;
	}
	#values {
		width: 161px;
		left: 9px;
		height: 324px;
	}
	.times, .division { height: 0px; }
	
}


@media(max-width: 715px) {
	#controls {
		font-size: 12px;
		gap: 10px;
	}
	button,  {
		font-size: 14px;
	}
	#first-row label.toggle {
		font-size: 12px;
	}
	.toggle {
		--width-toggle: 32px
	}

	#controls button {
		padding: 5px
	}

	.dropdown { --dropdown-height: 11px }


	#calculator {
		width: 495px;
	}


	#calculator button {
		padding: 2px; 
		font-size: 12px;

	}

	#equation-placeholder {
		font-size: 25px;
		padding: 3px 8px;
	}
	#input {
		font-size: 35px; 
		padding: 12px 8px;
	}
	#display { height: 100px; }

	#main-buttons-container {
		gap: 0px;
	}

	#main-buttons-container button{
		min-height: 48px;
		min-width: 51px;
		font-size: 18px;
		/*height: 54px;
		width: 64px;*/
	}

	#btn-delete { max-width: 40px } 

	.container:nth-of-type(2) { max-width: 372px; }

	#symbols {
		width: 176px;
		right: 26px;
		height: 280px;
	}
	#values {
		width: 176px;
		left: 27px;
		height: 280px;
	}
	.times, .division { height: 0px; }

	#container-decimals-dropdown .dropdown ul > li > label { min-width: 72px; }
	#language-container ul > li > label { min-width: 45px; }


}

@media(max-width: 660px) {
	#controls {
		flex-direction: column;
		position: fixed;
		right: 20px;
		top: 50px;
		border-radius: 20px;
		border: 3px solid var(--color-calculator-border);
		margin: 0;
		gap: 40px;
		padding: 20px 35px;
		font-size: 15px;
		display: none;
		justify-content: flex-start;
		overflow-y: auto;
		animation: fade-in 400ms forwards;
		background-color: var(--color-popup);
		backdrop-filter: blur(4px);
	}

	#controls.active {
		display: flex;
	}

	#controls .toggle {
		--width-toggle: 40px
	}

	#menu-header {
		display: flex;
	}

	#container-decimals-dropdown .dropdown ul > li > label { min-width: 79px; }
	#language-container ul > li > label { min-width: 59px; }

	#input {
		font-size: 30px;
		padding: 15px 8px;
	}
	

}

@media(max-height: 555px) and (max-width: 590px) {
	#controls {
		height: 69.1vh;
	}
}

@media(max-width: 575px) {

	#calculator {
		width: 380px;
		align-items: center;
	}

	#input {
		font-size: 25px;
		padding: 18px 8px;
	}

	#equation-placeholder {
		padding: 7px 8px;
		font-size: 18px;
	}

	#first-row {
		max-width: 325px;
		gap: 12px;
	}

	#first-row button{ 
		max-width: 80px;
	}

	#first-row > label.toggle {
		min-width: 96px;
		font-size: 11px;
	}

	:root {--gap-main-buttons: 10px;}

	#main-buttons-container button {
		font-size: 16px;
	}

	#main-buttons-container {
		gap: 8px;
	}

	/*TODO: fix the positions like this for the rest without breaking*/
	.container:nth-of-type(2) {
		position: relative;
	}

	#values, #symbols {
		position: unset;
	}

	#symbols {
		margin-left: -53px;
	}
}

@media(max-width: 470px) {
	#calculator {
		width: 275px;
	}

	#display {
		height: 80px;
	}

	#input {
		padding: 11px 8px;
	}

	#equation-placeholder {
		font-size: 17px;
		padding: 4px 8px;
	}

	#history {
		min-width: 332px
	}

	#first-row button {
		border-radius: 12px;
	}

	:root {--gap-main-buttons: 5px;}

	#main-buttons-container button {
		min-height: 39px;
		min-width: 39px;
		border-radius: 14px;
	}

	.container:nth-of-type(2) {
		max-width: 217px;
	}

	#values {
		width: 129px;
		height: 215px;
	}

	#symbols {
		width: 132px;
		height: 215px;
		margin-left: -40px;
	}

	#history-values {
		font-size: 17px;
	}

}

